doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./style.css")
    link(rel="modulepreload" href="src/cpu.js")
    link(rel="modulepreload" href="src/dmg.js")
    link(rel="modulepreload" href="src/mmu.js")
    link(rel="modulepreload" href="src/opcodes.js")
    link(rel="modulepreload" href="src/ppu.js")
  body
    div#gameboy
      div#screen-bg
      canvas#screen
      img#frame(src="img/gb_annotated.png")
      div.button#button-a
      div.button#button-b
      div.button#button-start
      div.button#button-select
      div.button#button-up
      div.button#button-down
      div.button#button-left
      div.button#button-right
    div#other
      div#rom
        select#rom-select(name="rom")
          option(value="Tetris") Tetris
          option(value="Dr. Mario") Dr. Mario
          option(value="Kirby's Dream Land" selected) Kirby's Dream Land
          option(value="Super Mario Land") Super Mario Land
          //option(value="Super Mario Land 2") Super Mario Land 2
          option(value="The Legend of Zelda - Link's Awakening") The Legend of Zelda - Link's Awakening
          option(value="Batman") Batman
          option(value="Bubble Ghost") Bubble Ghost
          //option(value="Gargoyle's Quest") Gargoyle's Quest
          //option(value="Golf") Golf
          option(value="Tennis") Tennis
          option(value="Hyper Lode Runner") Hyper Lode Runner
          option(value="Mega Man") Mega Man
          //option(value="Pokemon Blue") Pokemon Blue
          //option(value="Pokemon Red") Pokemon Red
          option(value="Robocop") Robocop
          option(value="Robocop 2") Robocop 2
          option(value="Teenage Mutant Ninja Turtles") Teenage Mutant Ninja Turtles
          option(value="Teenage Mutant Ninja Turtles 2") Teenage Mutant Ninja Turtles 2
          option(value="The Simpsons") The Simpsons
        input#skip-boot(type="checkbox" name="skip-boot")
        label(for="skip-boot") Skip boot
      div#buttons
        button#start-button Start
        button#frame-button Frame
        button#step-button Step
        button#reset-button Reset
        button#refresh-button Refresh
      div#debug
        div#break
          input#break-condition(type="text" value="0x100")
          button#break-button Run to Break
        input#update-each-frame(type="checkbox" name="update-each-frame")
        label(for="update-each-frame") Update each frame
        div#cpu-info
          span#cpu-clock clk: 0
          table#registers-table
            tr
              th AF
              th BC
              th DE
              th HL
              th SP
              th PC
              th ZNHC
            tr#registers-row
              td 0000
              td 0000
              td 0000
              td 0000
              td 0000
              td 0000
              td 0000
        div#previous-asm
        div#asm
        canvas#tiles
        canvas#background0
        canvas#background1
        div
          input#address(type="text" value="0000")
          button#address-up-button ↑
          button#address-down-button ↓
          button(onclick="gb.setViewAddress(0x0000);") Bank 0
          button(onclick="gb.setViewAddress(0x4000);") Bank 1
          button(onclick="gb.setViewAddress(0x8000);") VRAM
          button(onclick="gb.setViewAddress(0xA000);") ExtRAM
          button(onclick="gb.setViewAddress(0xC000);") WRAM 0
          button(onclick="gb.setViewAddress(0xD000);") WRAM 1
          button(onclick="gb.setViewAddress(0xFE00);") OAM
          button(onclick="gb.setViewAddress(0xFF80);") HRAM
          table#memory
            thead
              tr
                td
                td 0
                td 1
                td 2
                td 3
                td 4
                td 5
                td 6
                td 7
                td 8
                td 9
                td A
                td B
                td C
                td D
                td E
                td F
            tbody#memory-tbody
        div#serial-output
    script(src="index.js" type="module")
