doctype html
html
  head
    script(src="js/script.js")
    script(src="js/gameboy.js")
    script(src="js/opcodes.js")
    script(src="js/printOp.js")
    link(rel="stylesheet" href="style.css")
  body
    canvas#screen