doctype html
html
  head
    script(src="script.js")
    script(src="gameboy.js")
    script(src="opcodes.js")
    script(src="others/GameBoyCore.js")
    link(rel="stylesheet" href="style.css")
  body
    canvas#screen