html
  box-sizing: border-box
  font-family: "Menlo", "Monaco", "monospace"

#screen
  background: black
  width: 480px

#break-condition
  width: 240pt

#previous-asm
  color: gray

#address
  width: 40pt

#memory
  thead
    text-align: center

#serial-output
  border: black 1px solid