html
  box-sizing: border-box
  font-family: "Menlo", "Monaco", "monospace"

#gameboy
  float: left
  width: 635px
  height: 1052px
  position: relative
  #frame
    width: 635px
    height: 1052px
    position: absolute
    top: 0
    left: 0
  #screen-bg
    width: 360px
    height: 324px
    background: #9BBC0F
    position: absolute
    top: 124px
    left: 138px
  .screen-layer
    position: absolute
    background: none
    width: 320px
    top: 145px
    left: 156px
  .button
    position: absolute
    touch-action: none
  #button-a
    top: 626px
    left: 492px
    width: 90px
    height: 90px
  #button-b
    top: 674px
    left: 392px
    width: 90px
    height: 90px
  #button-start
    top: 823px
    left: 290px
    width: 88px
    height: 64px
  #button-select
    top: 823px
    left: 187px
    width: 88px
    height: 64px
  #button-up
    top: 608px
    left: 95px
    width: 80px
    height: 80px
    border-radius: 40px
  #button-down
    top: 716px
    left: 95px
    width: 80px
    height: 80px
    border-radius: 40px
  #button-left
    top: 662px
    left: 41px
    width: 80px
    height: 80px
    border-radius: 40px
  #button-right
    top: 662px
    left: 149px
    width: 80px
    height: 80px
    border-radius: 40px
#other
  float: left

  #break-condition
    width: 240pt

  #previous-asm
    color: gray

  #address
    width: 40pt

  #memory
    thead
      text-align: center

  #serial-output
    border: black 1px solid